<div class="container">
    <div class="row">
        <div class="csnippet col-xs-8 col-lg-3" ng-mouseenter="vm.showHeroImage()" ng-mouseleave="vm.hideHeroImage()">
            <img holder="holder.js/293x210?text=Black Widow&theme=vine" style="height: 210px; width: 100%; display: block;" ng-hide="vm.showImage">
            <img src="" style="height: 210px; width: 100%; display: block;" ng-show="vm.showImage">
            <!--<h3>Black Widow</h3>-->
            <!--<p>
                Donec id elit non mi porta gravida at eget metus.
                Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
                ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna
                mollis euismod. Donec sed odio dui.
            </p>-->
        </div>
        <div class="csnippet col-xs-8 col-lg-3">
            <img holder="holder.js/293x210?text=Chores Macgillicudy" style="height: 210px; width: 100%; display: block;" ng-show="vm.showPlaceholder">
            <img src="" style="height: 210px; width: 100%; display: block;" ng-show="vm.showImage">
            <!--<h3>Chores Macgillicudy</h3>-->
        </div>
        <div class="csnippet col-xs-8 col-lg-3">
            <img holder="holder.js/293x210?text=Daredevil&theme=vine" style="height: 210px; width: 100%; display: block;" ng-show="vm.showPlaceholder">
            <img src="" style="height: 210px; width: 100%; display: block;" ng-show="vm.showImage">
            <!--<h3>Daredevil</h3>-->
        </div>
        <div class="csnippet col-xs-8 col-lg-3">
            <img holder="holder.js/293x210?text=Deadpool" style="height: 210px; width: 100%; display: block;" ng-show="vm.showPlaceholder">
            <img src="" style="height: 210px; width: 100%; display: block;" ng-show="vm.showImage">
            <!--<h3>Deadpool</h3>-->
        </div>
        <div class="csnippet col-xs-8 col-lg-3">
            <img holder="holder.js/293x210?text=Gambit" style="height: 210px; width: 100%; display: block;" ng-show="vm.showPlaceholder">
            <img src="" style="height: 210px; width: 100%; display: block;" ng-show="vm.showImage">
            <!--<h3>Gambit</h3>-->
        </div>
        <div class="csnippet col-xs-8 col-lg-3">
            <img holder="holder.js/293x210?text=Hulk&theme=vine" style="height: 210px; width: 100%; display: block;" ng-show="vm.showPlaceholder">
            <img src="" style="height: 210px; width: 100%; display: block;" ng-show="vm.showImage">
            <!--<h3>Hulk</h3>-->
        </div>
        <div class="csnippet col-xs-8 col-lg-3">
            <img holder="holder.js/293x210?text=Lego Iron Man" style="height: 210px; width: 100%; display: block;" ng-show="vm.showPlaceholder">
            <img src="" style="height: 210px; width: 100%; display: block;" ng-show="vm.showImage">
            <!--<h3>Lego Iron Man</h3>-->
        </div>
        <div class="csnippet col-xs-8 col-lg-3">
            <img holder="holder.js/293x210?text=Punisher&theme=vine" style="height: 210px; width: 100%; display: block;" ng-show="vm.showPlaceholder">
            <img src="" style="height: 210px; width: 100%; display: block;" ng-show="vm.showImage">
            <!--<h3>Punisher</h3>-->
        </div>
        <div class="csnippet col-xs-8 col-lg-3">
            <img holder="holder.js/293x210?text=Silver Samurai&theme=vine" style="height: 210px; width: 100%; display: block;" ng-show="vm.showPlaceholder">
            <img src="" style="height: 210px; width: 100%; display: block;" ng-show="vm.showImage">
            <!--<h3>Silver Samurai</h3>-->
        </div>
        <div class="csnippet col-xs-8 col-lg-3">
            <img holder="holder.js/293x210?text=Wasp" style="height: 210px; width: 100%; display: block;" ng-show="vm.showPlaceholder">
            <img src="" style="height: 210px; width: 100%; display: block;" ng-show="vm.showImage">
            <!--<h3>Wasp</h3>-->
        </div>
    </div>

</div>
